<h1><%= @menu.name %> Menu</h1>
<h2>Items in that menu</h2>
<div class="row">

  <select size="3" name="selectionField">
      <option value="" disabled="disabled" selected="selected">Please select your item</option>
      <option value="1">One</option>
      <option value="2">two</option>

  </select>


</div> 



