header {

}

nav {
  position:relative;
  float:right;
  top:-50px;
}

.flash {
  color: red;
}

.container {
  margin: 20px auto;
  width: 700px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

table {
  width:62%;
}

table, th, td {
  border: 1px solid gray
}
th {
  background-color: lightgray;
  text-align: left;
}

th, td{
  min-width: 100px;
  padding: 5px;
}

.menu, .menu-item {
  height:30px;
}

.menu-items {
  margin: 20px;
}

.list-menus a{
  text-decoration: none;
}
.btn-delete {
  position: relative;
  top:2px;
  margin: 0 10px 0 0;
  cursor: hand;
  cursor: pointer;
}

.btn-delete:hover {
  background: #FFF8DC;
}

.all-items {
  margin:20px 0 0 0;
}
