.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
}

/*#title {
  display:inline;
  float:left;
}

#instructions {
  display:inline;
  float:left;
}

#header_nav li {
  display:inline;
  float:right;
}*/

/*th {
  text-align: left;
}*/
