header {
	background-color: green;
	padding: 10px 0px;
	color: #fff;
}

header h1 {
	display: inline;
	margin-left: 10px;
}

header p {
	display: inline;
}

header ul {
	float: right;
}

header li {
	display: inline;
}

header a {
	color: white;
	text-decoration: none;
	margin-right: 10px;
}

header a:hover {
	text-decoration: underline;
}

.container {
	margin: 20px auto;
	width: 600px;
	padding: 0px 20px 20px 20px;
}

.container form {
	text-align: center;
}

.container h1, h2 {
	text-align: center;
}

table {
	margin: auto;
	border: 1px solid black;
	text-align: left;
}

table th {
	background-color: #ccc;
	border-right: 1px solid black;
	padding: 2px 8px;

}

table td {
	border-right: 1px solid black;
	padding: 2px 8px;
}

#name_header {
	width: 400px;
}