<tr data-id="<%= item.id %>">
  <td>
    <a href="#" class="delete-item">[X]</a>
  </td>
  <td>
    <a href="/menus/<%= item.id %>"><%= item.name %></a>
  </td>
  <td>
    <%= item.price %>
  </td>
</tr>