<form action="/items" method="post">
  <input type="text" name="item[name]" placeholder="item name">
  <input type="text" name="item[price]" placeholder="price">
  <input type="submit" value="add item">
</form>