<div class="partial-container">

  <form action="/" method ="post">
    <label>add a new menu</label><br>
    <input type="text" id="menuname" name="name" placeholder="menu name" ><br>
    <input type="submit" id="add_menu_button" class="button" value="add menu">

  </form>

</div