<div class="partial-container">

  <form action="/jeffreyfuntimes/12/13/14/15/16/17/18" method ="post">
    <label>add a new menu</label><br>
    <input type="text" id="menuname" name="name" placeholder="menu name" value="1"><br>
<!--     <input type="text" name="foo[b]" placeholder="menu name" value="2"><br>
    <input type="text" name="foo[c]" placeholder="menu name" value="3"><br>
    <input type="text" name="foo[d]" placeholder="menu name" value="4"><br>
    <input type="text" name="foo[e]" placeholder="menu name" value="5"><br>
    <input type="text" name="foo[f][]" placeholder="menu name" value="5a"><br>
    <input type="text" name="foo[f][]" placeholder="menu name" value="5b"><br>
    <input type="text" name="foo[f][]" placeholder="menu name" value="5c"><br>
    <input type="text" name="foo[g][q]" placeholder="menu name" value="5x"><br>
    <input type="text" name="foo[g][r]" placeholder="menu name" value="5y"><br>
    <input type="text" name="foo[g][s]" placeholder="menu name" value="5z"><br>
    <input type="text" name="bar[]" placeholder="menu name" value="6"><br>
    <input type="text" name="bar[]" placeholder="menu name" value="7"><br>
    <input type="text" name="bar[]" placeholder="menu name" value="8"><br>
 -->    <input type="submit" id="add_menu_button" class="button" value="add menu">

  </form>

</div