<div class="container">

<form action="/" method ="post">
  <fieldset>
    <legend> Get started: </legend>
  
     <div class="large-4 columns">

        <label>Your Menu name</label>
        <input type="text" id="menuname" name="name" placeholder="Here comes your menu" >
        <input type="submit" id="add_menu_button" value="add menu">
      </div>
      
     
  </fieldset>
</form>



</div>
