<div class="container">

  
  <h1>the menus you created...</h1>


  <table>
    <tr>
      <th id="menu_list">

      <% @menus.each do |menu| %>
      <p><a href="/menus/update/<%= menu.id %>"><%= menu.name %></a></p>
      <% end %>

      </th>
    </tr>
    
  </table>
</div>
