<div class="container">

  <form>
    <input type='text'>
    <input type='submit' value='enlighten the food'>
  </form>

  <h2>Menus:</h2>

  <ul>
   <% @menus.each do |menu| %>
   <li><%= menu.name %></li>
   <% end %>
 </ul>

</div>
