<div class="container">
  <h1>Welcome to Louie's Magic Menus!</h1>
  <form action="/menu/new" method="post">
    <input type="text" name="menu[name]" placeholder="Menu Name">
    <input type="submit" value="submit">
  </form>

  <% @menus.each do |menu| %>
    <p><a href="#"><%= menu.name %></a></p>
  <% end %>

</div>
