<div class="container">
  <div class="add_form">
    <form accept-charset="UTF-8" action="/" method="post">
      <input id="menu_add" name="title" placeholder="Menu title" type='text'>
      <input class="btn" type="submit" value="Add Menu">
    </form>
  </div>
  <div class="display_table">
    <h3>Your Menus:
    </h3>
    <ul class="menu_list">
      <% if @menu%>
        <% @menu.each do |m|%>
        <%= "<li><a href='/#{m.id}'>#{m.title}</a>"%>
        <%end %>
      <%end %>
    </ul>
  </div>
</div>
