<div class="container">
  <div class="add_form">
    <form id="menu_add" accept-charset="UTF-8" action="/" method="post">
      <input name="title" placeholder="Menu title" type='text' required>
      <input class="btn" type="submit" value="Add Menu">
    </form>
  </div>
  <div class="display_table">
    <h3>Your Menus:
    </h3>
    <ul class="menu_list">
      <% if @menu%>
        <% @menu.each do |m|%>
        <%= "<li><a href='/menu/#{m.id}'>#{m.title}</a></li>"%>
        <%end %>
      <%end %>
    </ul>
  </div>
</div>
