<div class="container">
  <form action="/menu/new" method="post">
    <input id="menu_name" type="text" name="menu[name]" placeholder="Menu Name">
    <input id="menu_submit" type="submit" value="submit">
  </form>

  <% @menus.each do |menu| %>
    <p><a href="menu/<%= menu.id %>"><%= menu.name %></a></p>
  <% end %>

</div>
