<div class="container">

  <h1 id="title">Welcome to Awesome Menus</h1>
  <!-- <ul id="instructions">
    <li><a href="#">enter a menu name and click "Add Menu"</a></li>
    <li><a href="#">menu name should be appended to the bottom of the list</a></li> -->
  <ul id="header_nav">
    <li><a href="/items">Add Items</a></li>
    <li><a href="/menus">Add Menus</a></li>
  </ul>

</div>




