<div class="container">


<form action='/menus' method='post'>
  <input type='text' name='menu[name]' placeholder='menu name'>
  <input type='submit' value='enlighten the food'>
</form>

  <h2>Menus:</h2>

  <ul>
   <% @menus.each do |menu| %>
   <li><%= menu.name %></li>
   <% end %>
 </ul>

</div>

