<form action = "/item" method = "post">
  <input type="number" name="price">
  <input type="text" name="description">
  <input type="submit" value="Add Items">
</form>

  <%@item.each do |element|   %>
  <%= element.price %> <%= element.description %>   <br>
  <%end%>
