<div class="container">
  <div class="add_form">
    <form accept-charset="UTF-8" action="/" method="post">
      <input id="item_add" name="title" placeholder="item title" type='text'>
      <input class="btn" type="submit" value="Add item">
    </form>
  </div>
  <div class="display_table">
    <h3>Your items:
    </h3>
    <ul class="item_list">
      <% @item.each do |i|%>
      <%= "<li><a href='/#{i.id}'>#{i.title}</a>"%>
      <%end %>
    </ul>
  </div>
</div>
