<div class="bullshit">

<h2>the <a href="/menus/update/<%= @menu.id %>"><%= @menu.name %></a> menu</h2>

  <div id="items_list">
    
      <% @items.each do |item| %>
      <p><%= item.name %> - <%= item.price %></p>
      <% end %>

  </div>
</div>

