<div class="container">


	<form action='/items' method='post'>
		<input id="new_item_name" type='text' name='item[name]' placeholder='name'>
		<input id="new_item_price" type='text' name='item[price]' placeholder='price'>
		<input type='submit' value='add item'>
	</form>

	<h2>Your Items:</h2>

	<table>
		<tr>
			<th>Name</th>
			<th>Price</th>
		</tr>
		<% @items.each do |item| %>
		<tr>
			<td><%= item.name %></td>
			<td><%= int_to_dollars(item.price) %></td>
		</tr>
		<% end %>
	</table>

</div>

