	<table>
		<tr>
			<th id="name_header">Name</th>
			<th id="price_header">Price</th>
		</tr>
		<% @items.each do |item| %>
		<tr>
			<td><%= item.name %></td>
			<td><%= int_to_dollars(item.price) %></td>
		</tr>
		<% end %>
	</table>