<div class="container">
  <h1>Welcome to Awesome Menus</h1>
  <a class="add" href="/item">Add Items</a>
  <a class="add" href="/menu">Add Menus</a>
  <br>

  <div class="center">

  <form method="POST" action="/item/create">
    <input type="text" name="item[name]" id="item_name" placeholder=
    "Item...">
    $<input type="text" name="item[price]" id="item_price" placeholder="2.99">
    <input type="submit" id="create_item">
  </form>

  <div id='table'>Your Items:

      
      <table border="1" id="items_table">
        <tr>
          <th>Item</th>
          <th>Price</th>
        </tr>
        <% Item.all.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td>$<%= item.price %></td>
        </tr>
          <% end %>
      </table>    

  </div>

</div>

</div>