<div class="item">

  <form action="/item/new" method="post">
    <input type="text" name="item[name]" placeholder="Item Name">
    <input type="text" name="item[price]" placeholder="Price in Cents">
    <input type="submit" value="submit">
  </form>
  <p></p>
  <h2>Your Items</h2>

  <table>
    <tr>
      <th>Item Name</th>
      <th>Price in Cents</th>
    </tr>
    <% @items.each do |item| %>
    <tr>
      <th><%= item.name %></th>
      <th><%= item.price %></th>
    </tr>      
    <% end %>
  </table>

</div>
