<div class="container">

	<form id="create_item" action='/items' method='post'>
		<input id="new_item_name" type='text' name='item[name]' placeholder='name'>
		<input id="new_item_price" type='text' name='item[price]' placeholder='price'>
		<input type='submit' value='add item'>
	</form>

	<h2>Your Items:</h2>

	<%= erb :item_table %>

</div>

