<div class="container">
<h1>Welcome to Awesome Menus</h1>
<form id='item_form' action='/items' method='post'>
<input type='text' name='item[name]' placeholder="item name">
<input type= 'text' name= 'item[price]' placeholder='price'>
<input type='submit' value='Add Item'>
</form>

<br>

<h4>Your Items:</h2>

<table border="1">
<tr>
<td>Name</td>
<td>Price</td>
</tr>

<% @items.each do |item| %>
<tr>
<td><%=item.name%></td>
<td><%=item.price%></td> 
</tr>
<%end%>

</table>



</div>


