<div class="partial-container">

<h2><a href="/menus/update/<%= @menu.id %>"><%= @menu.name %></a>'s items...</h2>

  <div id="items_list">
    
      <% @items.each do |item| %>
      <p><%= item.name %> - <%= item.price %></p>
      <% end %>

  </div>
</div>