<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>MenuDan</title>
</head>
<body>
  <a href='/'><h3 id = 'title'>MenuDan<h3></a>
  <%=logged_in_display%>
  <%= yield %>
</body>
</html>
