<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>v's menus</title>

</head>
<body>

<h1>welcome to Young Hoody Vanessa V Jewel a.k.a. Baddie Flavor's menus</h1>

<div id="page-container">

<%= yield %>

</div>

</body>
</html>

