<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>DKMenu</title>
</head>
<body>
  <h3 id="company_name"><a href="/">DKMenu</a></h3>
  <h5 id="tagline"><em>The DK-ier menu site</em></h5>
  <nav>
    <a href="/items">Add Items</a>
    <a href="/">Add Menus</a>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
