<div class="partial-container">

<h2>the menus you created...</h2>

  <!-- <div id="menu_list"> -->
    
      <% @menus.each do |menu| %>
      <p><a href="/menus/update/<%= menu.id %>"><%= menu.name %></a></p>
      <% end %>

  <!-- </div> -->
</div>