<div class="menu">
  <h1><%= @menu.name %> Menu</h1>
  <h2>Items</h2>

  <table>
    <tr>
      <th>Item Name</th>
      <th>Price in Cents</th>
    </tr>
    <% @items.each do |item| %>
    <tr>
      <th><%= item.name %></th>
      <th><%= item.price %></th>
    </tr>      
    <% end %>
  </table>
</div>
