<a href="/items" id="add_items">Add Items</a>
<h1> Welcome to Awesome Menus</h1> 
<form name="menu" id='menu_form' action='/menus/new' method='post'>
<input type='text' name='menu[name]' placeholder="menu name">
<input type='submit' value='Add Menu'>

</form>

<h2>Your Menus:</h2>
<ul>
<% @menus.each do |menu| %>
<li><a href="/menus/<%=menu.id%>"> <%= menu.name %> </a></li>
<% end %>
</ul>

