<form id="menu_creator" action="/" method="post" onsubmit="validateForm('menu_creator', 'menu_creator_1')">
  <input id="menu_creator_1" type="text" name="name" placeholder="Menu Name">
  <input class="button" type="submit" value="Add Menu">
  <div id="menus_form_errors"><%= erb :menus_form_errors %></div> 
</form>
