<br />
<div class="row">
  <br />
  <form action="/menus" method="post">
  <fieldset>
    <legend> Get started: </legend>
  
     <div class="large-4 columns">

        <label>Your Menu name</label>
        <input type="text" name="name" placeholder="Here comes your menu">
      </div>
      
     
  </fieldset>
</form>
  
</div>