<form id="menu_creator" action="/" method="post" onsubmit="validateForm('menu_creator', 'menu_creator_1')">
  <input id="menu_creator_1" type="text" name="name" placeholder="Menu Name">
  <input type="submit" value="Add Menu">
  <% if @error_messages %>
    <% @error_messages.each do |message| %>
    <p class="error_message"><%= message %></p>
    <% end %>
  <% end %>  
</form>
