<div class = "login">
  <form action = "/menu/new" method = "POST" >
    <input type = "text" name = "menu[name]" placeholder = "What do you want to call your menu?">
    <br>
    <input type ="submit" value = "Create">
  </form>
</div>
