<div class="new-menu">
	<%= erb :_new_menu %>
</div>
<h3>your menus:</h3>
<div class="list-menus">
	<% @menus.each do |menu| %>
		<div class="menu">
    <%= erb :_delete_btn, locals:
                          { data_id: menu.id ,
                            data_model: :menu } %>
		<a href="/menus/<%= menu.id %>"><%= menu.name %></a>
    </div>
	<% end %>
</div>