<div class="new-item">
  <%= erb :_new_item %>
</div>
<h3>Your Items:</h3>
<div class="list-menus">
  <% @items.each do |item| %>
    <div class="item"></div>
    <div class="display">"<%= item.name %>" + "   <%= item.price %>"</div>
  <% end %>
</div>