<div class="container">
  
  <div id="forms">
    <%= @note.notetext %>
    <form class="buttons" action="/menus/update/<%= @menu.id %>" method="post">
      <input type="text" name="name">
      <input type="submit" value="now update it!">
    </form>
    <form class="buttons" action="/delete/sure/<%= @menu.id %>" method="post">
      <input type="submit" value="actually, delete it!">
    </form>
  </div>

</div