<div class="partial-container" id="push-to-bottom">

  <form action="/" method ="post">

    <input type="text" id="menuname" name="menu[name]" placeholder="menu name" >
    <input type="submit" id="update_menu_button" class="button" value="update menu name">

  </form>

</div>






